<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="car">
    <xacro:include filename="$(find robotpi_demo_robot_description)/urdf/car_base/car_base.urdf.xacro" />
    <xacro:include filename="$(find robotpi_demo_robot_description)/urdf/camera/camera.urdf.xacro" />
    <xacro:include filename="$(find robotpi_demo_robot_description)/urdf/lidar/lidar.urdf.xacro" />

</robot>