<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="mycobot_280">
    <xacro:macro name="gripper">    

        <group name="gripper">
            <!-- 
            <link name="gripper_base" />
            <link name="gripper_left1" />
            <link name="gripper_left2" />
            <link name="gripper_left3" />
            <link name="gripper_right1" />
            <link name="gripper_right2" />
            <link name="gripper_right3" />
             -->
            <joint name="gripper_controller" />
            <!-- 
            <passive_joint name="gripper_base_to_gripper_left2" />
            <passive_joint name="gripper_left3_to_gripper_left1" />
            <passive_joint name="gripper_base_to_gripper_right3" />
            <passive_joint name="gripper_base_to_gripper_right2" />
            <passive_joint name="gripper_right3_to_gripper_right1" />
             -->
        </group>

          <disable_collisions link1="gripper_base" link2="gripper_left1" reason="Never"/>
          <disable_collisions link1="gripper_base" link2="gripper_left2" reason="Adjacent"/>
          <disable_collisions link1="gripper_base" link2="gripper_left3" reason="Adjacent"/>
          <disable_collisions link1="gripper_base" link2="gripper_right1" reason="Never"/>
          <disable_collisions link1="gripper_base" link2="gripper_right2" reason="Adjacent"/>
          <disable_collisions link1="gripper_base" link2="gripper_right3" reason="Adjacent"/>
          <disable_collisions link1="gripper_left1" link2="gripper_left2" reason="User"/>
          <disable_collisions link1="gripper_left1" link2="gripper_left3" reason="Adjacent"/>
          <disable_collisions link1="gripper_left1" link2="gripper_right1" reason="Never"/>
          <disable_collisions link1="gripper_left1" link2="gripper_right2" reason="Never"/>
          <disable_collisions link1="gripper_left1" link2="gripper_right3" reason="Never"/>
    </xacro:macro>
</robot>